# Python artifacts
venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/

# OS + IDE cruft
.DS_Store

# Ignore config file
configs/config.yaml

# Ignore Google Drive json
credentials.json

# Ignore temporary data storage
data/temp_video_extracted/
data/faiss_indexes/

# Ignore model checkpoints
checkpoints/
*.pt
*.pth

# Ignore retrieved embeddings
embeddings/retrieved/

# Ignore exports
exports/

# Ignore sqlite tables
sqlite3_tables/

# Ignore pretrained model weights
models/pretrained/senet/senet50_ft_weight.pkl

# Project-specific ignores
*.index
*.tar
*.tar.gz

# Don’t ignore ALL .npy files if you use some in testing
# Optionally exclude only large embedding arrays:
# data/embeddings/*.npy  ← only if you create a folder like that
embeddings/generated/*.npy
embeddings/generated/*.faiss
embeddings/generated/*_mapping.json
data/evaluation_data/*
configs/configs.yaml
