librosa==0.11.0
matplotlib
moviepy==2.2.1
numpy
#openl3==0.4.2
pandas==2.3.0
scikit-learn
seaborn
tensorflow_hub==0.16.1
torch==2.8.0
transformers==4.53.1
pyarrow==21.0.0
PyDrive2==1.21.3
opencv-python=4.12.0
torchvision==0.23.0
dlib==20.0.0
# Google Drive
gdown==5.2.0 
# Dropbox SDK
dropbox
#FAISS
faiss-cpu
huggingface_hub
tqdm
voicefixer
demucs
soundfile
facenet-pytorch
opencv-python
# Instagram scraping
instaloader