librosa==0.11.0
matplotlib
moviepy==2.2.1
numpy == 1.26.4
openl3==0.4.2
pandas==2.3.0
scikit-learn
seaborn
tensorflow_hub==0.16.1
torch==2.7.1
# torch==2.7.1 ; python_version == "3.9"
transformers==4.53.1
PyDrive2==1.21.3
# Google Drive
gdown==5.2.0 
# Dropbox SDK
dropbox
#FAISS
# faiss-cpu
huggingface_hub
tqdm
voicefixer
demucs
soundfile
facenet-pytorch
opencv-python
# Instagram scraping
instaloader
# Hugging Face Hub for dataset downloads
huggingface_hub[hf_xet]
requests
psycopg2-binary==2.9.9
# Embedding analysis dependencies
h5py
scipy
umap-learn